@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$white: #FFF;
$black: #000;
$red: #FF0000;
$font-size: 14px;

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-size: $font-size;
}

.header_bg {
    width: 100vw;
    max-height: 15vh;
    display: block;
}

nav {
    background-color: $red;
    display: flex;
    
    ul {
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }
    
    a {
        color: $white;
        text-decoration: none;
    }
}

main {
    flex: 1;
    display: flex;
    flex-flow: column;
    width: 95vw;
    align-self: center;
}

footer {
    background-color: $red;
    color: $white;
    text-align: center;
}